/* You can add global styles to this file, and also import other style files */


body {    
    background: #2E9CE6;
    /* background-image: linear-gradient(120deg, #3498db, #8e44ad); */
    padding: 3em;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a {
    color: white;
    text-decoration: none;
} 
